<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Highscore" connectionString="Server=84.1.192.236,1521;Database=PewPewParadise;User Id=monikornis;Password=CrFWQcXhEs3jC;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>